body{
    font-family: 'Silkscreen', sans-serif;
}

body{
    background-color: #201E1F;
}
.offcanvas{
    background: rgb(0,157,255);
    background: linear-gradient(180deg, rgba(0,157,255,1) 0%, rgba(117,70,252,1) 100%);
}
.offcanvas-title{
    color: white;
}
.offcanvas-toggler{
    color: white;
    font-size: 40px;
    text-align: center  ;
    /*border: none;*/
    vertical-align: center;

}
.navbar-toggler{
    border:none;
    color: white;
    vertical-align: center;
    transition: .2s all;
}
.navbar-toggler:hover{
    text-shadow: 0px 0px 10px white;

}
.navbar-toggler:focus,
.navbar-toggler:active,
.navbar-toggler-icon:focus {
    outline: none;
    box-shadow: none;
}
.navbar{
    background: rgb(0,157,255);
    background: linear-gradient(276deg, rgba(0,157,255,1) 0%, rgba(117,70,252,1) 100%);
}
.navbar a{
    color: white;
    transition: .2s all;
    font-size: 30px;
    text-align: center;

}
.active{
    color: white !important;
}
.navbar a:hover{
    color: white;
    text-shadow: 0px 0px 10px white;
}
.btn-close{
    --bs-btn-close-color:white !important;
    --bs-btn-close-bg: white !important;
    color: white !important;
    font-size: 25px;
    --bs-btn-close-opacity: 1 !important;
}

.btn-close:hover{
    text-shadow: 0px 0px 10px white;
}

.btn{
    background: rgb(0,157,255);
    background: linear-gradient(276deg, rgba(0,157,255,1) 0%, rgba(117,70,252,1) 100%);
    transition: .3s all;
}
.btn:hover{
    transform:scale(120%);
    box-shadow: 0px 0px 10px #353535;
}
