body {
  font-family: "Silkscreen", sans-serif;
}

body {
  background-color: #201e1f;
}
.offcanvas {
  background: rgb(0, 157, 255);
  background: linear-gradient(
    180deg,
    rgba(0, 157, 255, 1) 0%,
    rgba(117, 70, 252, 1) 100%
  );
}
.offcanvas-title {
  color: white;
}
.offcanvas-toggler {
  color: white;
  font-size: 40px;
  text-align: center;
  
  vertical-align: center;
}
.navbar-toggler {
  border: none;
  color: white;
  vertical-align: center;
  transition: 0.2s all;
}
.navbar-toggler:hover {
  text-shadow: 0px 0px 10px white;
}
.navbar-toggler:focus,
.navbar-toggler:active,
.navbar-toggler-icon:focus {
  outline: none;
  box-shadow: none;
}
.navbar {
  background: rgb(0, 157, 255);
  background: linear-gradient(
    276deg,
    rgba(0, 157, 255, 1) 0%,
    rgba(117, 70, 252, 1) 100%
  );
}
.navbar a {
  color: white;
  transition: 0.2s all;
  font-size: 30px;
  text-align: center;
}
.active {
  color: white !important;
}
.navbar a:hover {
  color: white;
  text-shadow: 0px 0px 10px white;
}
.btn-close {
  --bs-btn-close-color: white !important;
  --bs-btn-close-bg: white !important;
  color: white !important;
  font-size: 25px;
  --bs-btn-close-opacity: 1 !important;
}

.btn-close:hover {
  text-shadow: 0px 0px 10px white;
}

.btn {
  background: rgb(0, 157, 255);
  background: linear-gradient(
    276deg,
    rgba(0, 157, 255, 1) 0%,
    rgba(117, 70, 252, 1) 100%
  );
  transition: 0.2s all;
}
.menu-button {
  transition: 0.3s all;
  font-size: 30px;
  /* max-width: 500px; */
  /* transform: skew(-20deg, 0deg); */
  animation: hoverAnimation 2s ease-in-out infinite;
}
.menu-button:hover {
  font-size: 35px;
}

.btn:hover {
  transform: scale(110%);
}
p {
  color: white;
}

@keyframes showMenu {
  0%{
    transform: scale(0%);
    filter: blur(12px);
  }
  100%{
    transform: scale(100%);
  }
  
}

.menu-container{
  animation: showMenu .5s;
}

@keyframes opacityUp {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes opacityUp {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.ttt-button {
  color: white;
  background: transparent;
  border: 1px solid white;
  /* font-size: 50px; */
  text-align: center;
  vertical-align: center;
  padding: 20px 50px 0px;
  padding-bottom: 20px;
  transition: 0.5s all;
}
.ttt-button:hover {
  background: #ffffff5d;
  box-shadow: 0px 0px 10px white;
  text-shadow: 0px 0px 10px white;
  transform: scale(105%);
}

.win-text-visible {
  text-align: center;
  animation: showWinningText 1s ease-in-out;
}
.win-text-hidden {
  display: none;
}
@keyframes showTTT {
  0% {
    transform: scaleX(0%);
    filter: blur(12px);
    /* opacity: 0%; */
    /* transform: scaleY(0%); */
  }
  100% {
    transform: scaleX(100%);
    /* opacity: 100%; */
    /* transform: scaleY(100%); */
  }
}

@keyframes showWinningText {
  0% {
    transform: scale(0%);
    filter: blur(12px);
  }
  
  100% {
    transform: scale(100%);
  }
}

@keyframes restartButtonAnim {
  0%,
  100% {
    transform: scale(100%);
  }
  50% {
    transform: scale(120%);
  }
}

@keyframes hoverAnimation {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
}

.rainbow_text_animated {
  background: linear-gradient(
    to right,
    #6666ff,
    #0099ff,
    #00ff00,
    #ff3399,
    #6666ff
  );
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  animation:     showWinningText .5s ease-in-out, rainbow_animation 2s ease-in-out infinite;
  background-size: 400% 100%;
}

@keyframes rainbow_animation {
  0%,
  100% {
    background-position: 0 0;
  }

  50% {
    background-position: 100% 0;
  }
}
@keyframes rainbow-shadow {
  0% {
    text-shadow: 0 0px 10px #f0f;
  }
  33% {
    text-shadow: 0 0px 10px #0ff;
  }
  66% {
    text-shadow: 0 0px 10px #0f0;
  }
  100% {
    text-shadow: 0 0px 10px #ff0;
  }
}
.restart-button-hidden {
  display: none;
}
.restart-button-visible {
  font-size: 28px;
  animation: showMenu 1s ease-in-out ,restartButtonAnim 2s ease-in-out infinite 1s;
}


.game-cont {
  animation: showTTT 1s;
}
.color-cont {
  animation: showCircles 1s ;
}

@keyframes hideButtons {
  0% {
    transform: scaleY(100%);
  }
  100% {
    transform: scaleY(0%);
  }
}
.hideButton {
  animation: hideButtons 1s;
}

.ttt-window {
  animation: showTTT 0.5s;
}

.color-button-visible {
  background-color: rgb(255, 255, 255);
  width: 150px;
  height: 150px;
  border-radius: 100px;
  cursor: pointer;
  transition: 0.2s all;
  
}

.color-button-visible:hover {
  
  transform: scale(120%);
}
.color-button-hidden {
  display: none;
}


@keyframes shake {
			
		0% {
			transform:rotate(0deg);
			transform-origin:50% 50%;
		}
		10% {
			transform:rotate(8deg);
		}
		20% {
			transform:rotate(-10deg);
		}
		30% {
			transform:rotate(10deg);
		}
		40% {
			transform:rotate(-10deg);
		}
		50% {
			transform:rotate(10deg);
		}
		60% {
			transform:rotate(-10deg);
		}
		70% {
			transform:rotate(10deg);
		}
		80% {
			transform:rotate(-8deg);
		}
		90% {
			transform:rotate(8deg);
		}
		100% {
			transform:rotate(0deg);
			transform-origin:50% 50%;
		}
	}

@keyframes showCircles {
  0% {
    transform: scale(0%);
    filter: blur(12px);
  }
  100% {
    filter: blur(0px);
    transform: scale(100%);
  }
}


@keyframes focus-in-contract {
			
		0% {
			letter-spacing:1em;
			filter:blur(12px);
			opacity:0;
		}
		100% {
			filter:blur(0);
			opacity:1;
		}
	}

.hex-text {
  margin-bottom: 50px;
  animation: focus-in-contract 1s;
}
#info-text{
  animation: focus-in 1s ease-in-out ;
  
}

@keyframes focus-in {
			
		0% {
			letter-spacing:-.5em;
			filter:blur(12px);
			opacity:0;
		}
		100% {
			filter:blur(0);
			opacity:1;
		}
	}

#wrong-text{
  margin-top: 50px;
  color: white;
}
.new-game-button-show{
  font-size: 30px;
  color: white;
  animation: showCircles 1s;
  
}
.new-game-button-hide{
  display: none !important;
}

a{
  text-decoration: none;
  transition: .2s all;
  color: white;
  font-size: 30px;
  cursor: pointer;
}

.level:hover{
  transform: scale(150%);
   text-shadow: 0px 0px 10px white;
}

.current-leve{
  font-size: 35px;
  box-shadow: 0px 0px 10px white;
}